<?xml version="1.0"?>
<launch>
	<!-- gps driver -->
	<include file="$(find microstrain_inertial_driver)/launch/microstrain.launch" />

	<!-- vanta pxrf -->
	<include file="$(find kraton)/launch/pxrf.launch" />
	
	<!-- open python gui -->
	<node pkg="gps_navigation" type="gps_user_input.py" name="gps_user_input" output="screen">
		<rosparam command="load" file="$(find gps_navigation)/config/hebi_lot.yaml"/>
	</node>
	
	<!-- Run navigation -->
	<node pkg="gps_navigation" type="gps_navigation.py" name="gps_navigation" output="screen"/>

</launch>
